
#player1_strip {
  background-color: red;
  color: white;
}

#player2_strip {
  background-color: blue;
  color: white;
}

#player1_strip .active {
  background-color: pink;
}

#player2_strip .active{
  background-color: aliceblue;
}